{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convenor page</title>
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    
        <nav>
            <a href="{% url 'convenorpage' %}"><img src="{% static 'images/cslogo2.png' %}"></a>
        </nav>
        <div class="conv-title">
            <h1>Welcome Convenor</h1>
            <br>
            <p>What would you like to do today?</p>
        </div>
        <div class="btn-grid">
            <div class="btn"><a href="{% url 'uploadstudentmarks' %}">Upload student marks</a></div>
            <div class="btn"><a href="{% url 'studentMedicalsConvView' %}">Check medical certificates</a></div>
            <div class="btn"><a href="{% url 'convQueries' %}">Check general documents/queries</a></div>
            <div class="btn"><a href="{% url 'convCompassionateReqs' %}">Check compassionate requests</a></div>
            <div class="btn"><a href="{% url 'uploadclassReps' %}">Indicate class reps</a></div>
            <div class="btn"><a href="{% url 'allocateTutors' %}">Allocate tutors</a></div>
            <div class="btn"><a href="{% url 'convenorViews' %}">Management</a></div>
            <div class="btn"><a href="{% url 'convenorpage' %}">Exit</a></div>
        </div>
</body>
</html>