{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Help</title>
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

    <div class="header">
        <nav>
            <a href="{% url 'studentpage' %}"><img src="{% static 'images/cslogo2.png' %}"></a>
        </nav>
        <div class="conv-title">
            <h1>General Assistance</h1>
        </div>
        <div class="container">
            <div class="row">
                <h3>Leave of Absence</h3>
                <h6> The Leave of Absence application procedure is administered by the Faculty Manager's office </h6>
                <h6> The point of contact for applications is the Faculty of science manager (fmscience@uct.ac.za) </h6>
                <h6> Complete an Undergraduate Leave of Absence Application (ACA37): https://forms.uct.ac.za/studentforms.htm#aca37.</h6>
                <h6> For more details, click on the guide below:</h6>
                <h6> http://www.sss.uct.ac.za/sites/default/files/image_tool/images/152/Leave%20of%20Absence%20Service%20Request%20Submission.pdf</h6>
                          
            </div>
            <div class = "row">
                <h3>The help available to students are: </h3>
                <h6>Longterm/ongoing personal problem: BSc students can get help from Cecile.Reed@uct.ac.za</h6>
                <h6>Problems understanding lecture content: Email the senior tutor, let's call her SNRTUT001@myuct.ac.za for now </h6>
                <h6>Poor assignment marks: go to your prac session in the lab and ask tutors, or go to CS Hotseat </h6>
                <h6>Other: see the course convenor </h6>

            </div>

        </div>
        <br>
        <div class="navigation">
            <button align="left"><a href="{% url 'student' %}">Back</a></button>
        </div>
    </div>

   

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>