{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor page</title>
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <nav>
            <a href="{% url 'tutorpage' %}"><img src="{% static 'images/cslogo2.png' %}"></a>
        </nav>
        <div class="conv-title">
            <h1>Welcome Tutor</h1>
            <br>
            <p>What would you like to do today?</p>
        </div>
        <div class="btn-grid">
            <div class="btn"><a href="{% url 'uploadAssignment' %}">Upload assignment marks</a></div>
            <div class="btn"><a href="{% url 'viewmark' %}">View marking allocation</a></div>
            <div class="btn"><a href="{% url 'tutQueries' %}">Check general documents/queries</a></div>
            <div class="btn"><a href="{% url 'tutorpage' %}">Exit</a></div>
        </div>
    </div>
     
    
</body>
</html>